body{
    background-color: rgb(152, 177, 152);
}
h1 {
    background-color:rgb(255, 255, 255);
    font: Georgia, 'Times New Roman', Times, serif;
    color:#ffbbc2;
    text-shadow: 4px 4px 5px rgb(217, 33, 67);
    text-align: center;
    padding: 60px;
    margin: 0;
    font-size: 60px;
    background-image: url("pexels-pixabay-66896.jpg");
    background-size: cover;
    background-position: center;
}
p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 243, 243);
    font-size: 18px;
}
.aboutme{
    background-color: rgb(247, 173, 192);
    padding: 20px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.flex-container img{
    width: 200px;
    height: 275px;
    border-radius: 8px;
    border: 2px solid rgb(255, 212, 235);
    box-shadow: 0 6px 12px rgb(112, 20, 35);
}
.coding{
    background-image: url("AdobeStock_577187360.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}
h2{
    font: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 151, 110);
    text-align: center;
    align-self: center;
    background-color: rgb(255, 232, 240);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}
.coding {
    display: flex;
    flex-direction: row;
    align-items:flex-bas;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.coding p{
  
    text-wrap: wrap;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 229, 235);
    font-size: 18px;
    padding: 15px;
    background-color: #93a48d;
    border-radius: 20px;
}
.coding img{
    width: 400px;
    height: 400px;
}
h3{
    font: Georgia, 'Times New Roman', Times, serif;
    color: rgb(251, 200, 209);
    text-align: center;
}
footer {
    text-align: center;
    font: Georgia, 'Times New Roman', Times, serif;
}